<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the requested resource doesn't exist as a file or directory,
    # route everything to index.php (CodeIgniter front controller)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

DirectoryIndex index.php index.html


